* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section {
  width: 100%;
  background-color: #000000;
}
.container {
  display: flex;
  height: 1450px;
  gap: 100px;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
img {
  max-width: 200px;
  /* display: block; */
  position: absolute;
  width: 250px;
  height: 200px;
  opacity: 0.95;
  border-radius: 10px;
}
/* .scroll-container{
    width: 500px;
    height: 1000px;
    margin: 0 auto;
  } */
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  transform-style: preserve-3d;

  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 45%;
  /* animation: spin 4s infinite linear; */
}
.slide img:first-child {
    transform: rotateX(0deg) translateZ(250px);
}
.slide img:nth-child(2){
    transform: rotateX(60deg) translateZ(250px);
}
.slide img:nth-child(3){
    transform: rotateX(120deg) translateZ(250px);
}
.slide img:nth-child(4){
    transform: rotateX(180deg) translateZ(250px);
}
.slide img:nth-child(5){
    transform: rotateX(240deg) translateZ(250px);
}
.slide img:nth-child(6){
    transform: rotateX(300deg) translateZ(250px);
}

@keyframes spin {
    0% {transform: rotateX(0deg) rotateY(0deg);}
  50%{transform: rotateX(-180deg) rotateY(180deg);}
  90% {transform: rotateX(0deg) rotateY(0deg);}
}

@keyframes rotate {
    0% {
      transform: perspective(1000px) rotateX(0deg);
    }
    100% {
      transform: perspective(1000px) rotateX(359deg);
    }
  }